<div class="w3-container w3-theme-l5">
  <h1>Blog Posts</h1>
  <a [routerLink]="['/admin/posts/create']" >Create New</a>
  
  <div class="post-list" *ngFor="let post of posts">
      <div class="post-detail">
          <div class="post-date">
              {{ post.createDate | date:'shortDate' }}
          </div>
          <div class="post-title">
              <a [routerLink]="['/blog', post.id]">{{ post.title }}</a>
              <a [routerLink]="['/admin/blog', post.id]">Edit</a>
              <a href="javascript:void(0);" (click)="deletePost(post.id)">Delete</a>
          </div>
      </div>
  </div>
</div>