<header class="w3-container w3-theme w3-card">
    <h1>{{ settings.blogTitle }}</h1>
    <p>{{ settings.blogSubTitle }}</p>
</header>
<nav class="w3-container w3-theme-d3 w3-card">
    <ul class="w3-ul">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/posts" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer class="w3-container w3-theme-l2 w3-card w3-row">
    <div class="w3-col {{ m }}">{{ settings.copyright }}</div>
    <div class="w3-col {{ m }}" *ngIf="settings.license"><a href="{{ settings.licenseUrl }}" class="w3-text-white">{{ settings.licenseTitle }}</a></div>
    <div class="w3-col {{ m }}" *ngIf="settings.poweredBy">Powered by What's the Scoop?</div>
</footer>