<h1>Contact Me </h1>
<p>Please fill the form below and I will get back to you at your earliest convenience.</p>
<form>
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="subject">Subject</label><br>
    <input type="text" id="subject" name="subject"><br>
    <label for="message">Message</label><br>
    <input type="text" id="message" name="message"><br>
    <button type="submit" (click)="createMessage()"></button>Submit</button>
</form>