<h1>Contact Me </h1>
<p>Please fill out the form below and we will contact you.</p>
<form>
    <label for="name">Name</label><br>
    <input type="text" id="name" [(ngModel)]="newMessage.name" name="name"><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" [(ngModel)]="newMessage.email" name="email"><br>
    <label for="subject">Subject</label><br>
    <input type="text" id="subject" [(ngModel)]="newMessage.subject" name="subject"><br>
    <label for="message">Message</label><br>
    <input type="text" id="message" [(ngModel)]="newMessage.message" name="message"><br>
    <button type="submit" (click)="createMessage()">Submit</button>
</form>