<div class="left-sidebar">
    <ul>
        <li><a routerLink="settings" routerLinkActive="active">Settings</a></li>
        <li><a routerLink="home" routerLinkActive="active">Home Page</a></li>
        <li><a routerLink="posts" routerLinkActive="active">Posts</a></li>
        <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="messages" routerLinkActive="active">Contact Me</a></li>
    </ul>
</div>
<div class="main"><router-outlet></router-outlet></div>