<header class="w3-panel w3-theme w3-center w3-mobile">
        <h1>What's the Scoop?&trade;</h1>
</header>
<nav class="w3-bar w3-theme-d3">
        <a routerLink="" class="w3-bar-item w3-button w3-mobile" title="Back"><i class="w3-xlarge fa fa-arrow-circle-left"></i></a>
        <a routerLink="posts" routerLinkActive="w3-theme-l3" class="w3-bar-item w3-button w3-mobile">Posts</a>
        <a routerLink="profile" routerLinkActive="w3-theme-l3" class="w3-bar-item w3-button w3-mobile">Profile</a>
        <a routerLink="messages" routerLinkActive="w3-theme-l3" class="w3-bar-item w3-button w3-mobile">Contact Me</a>
        <a routerLink="settings" routerLinkActive="w3-theme-l3" class="w3-bar-item w3-button w3-mobile">Settings</a>
        <a routerLink="../logout" class="w3-bar-item w3-button w3-mobile w3-right">Logout</a>
</nav>

<router-outlet></router-outlet>

<footer class="w3-panel w3-theme-l2 w3-row w3-center w3-mobile">
        <div class="w3-col">Copyright 2020 by Team Glampfire Trail Mix</div>
</footer>
