<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.facebook }}" target="_blank" *ngIf="profile.facebook">
   <i class="fa fa-facebook"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.twitter }}" target="_blank" *ngIf="profile.twitter">
   <i class="fa fa-twitter"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.instagram }}" target="_blank" *ngIf="profile.instagram">
   <i class="fa fa-instagram"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.youtube }}" target="_blank" *ngIf="profile.youtube">
   <i class="fa fa-youtube"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.linkedin }}" target="_blank" *ngIf="profile.linkedin">
   <i class="fa fa-linkedin"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.github }}" target="_blank" *ngIf="profile.github">
   <i class="fa fa-github"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ profile.reddit }}" target="_blank" *ngIf="profile.reddit">
   <i class="fa fa-reddit"></i>
</a>
