<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.facebook }}" target="_blank" *ngIf="settings.facebook">
   <i class="fa fa-facebook"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.twitter }}" target="_blank" *ngIf="settings.twitter">
   <i class="fa fa-twitter"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.instagram }}" target="_blank" *ngIf="settings.instagram">
   <i class="fa fa-instagram"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.youtube }}" target="_blank" *ngIf="settings.youtube">
   <i class="fa fa-youtube"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.linkedin }}" target="_blank" *ngIf="settings.linkedin">
   <i class="fa fa-linkedin"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.github }}" target="_blank" *ngIf="settings.github">
   <i class="fa fa-github"></i>
</a>
<a class="w3-button w3-circle w3-theme-l4" href="{{ settings.reddit }}" target="_blank" *ngIf="settings.github">
   <i class="fab fa-reddit"></i>
</a>



