<div class="w3-container w3-padding">
    <h1>About Me</h1>

    <p *ngIf="profile.firstName || profile.lastName">{{ profile.firstName }} {{ profile.lastName }}</p>
    <div *ngIf="profile.pic">
        <img src="{{ profile.pic }}" alt="{{ profile.firstName }} {{ profile.lastName }}"/>
    </div>
    <p *ngIf="profile.age"><b>Age:</b> {{ profile.age }}</p>
    <p *ngIf="profile.email"><b>Email:</b> {{ profile.email }}</p>

    <div *ngIf="profile.languages">
        <p><b>Languages:</b></p>
        <ul *ngFor="let language of profile.languages">
            <li>{{ language }}</li>
        </ul>
    </div>

    <div *ngIf="profile.bio">
        <p><b>Bio:</b></p>
        <p>{{ profile.bio }}</p>
    </div>

    <p><b>Social Media:</b></p>
    <app-social-media></app-social-media>
</div>
