<div class="w3-container">
  <div class="w3-card-4">
    <div class="w3-panel w3-theme">
      <h1>Edit Post</h1>
      <h5>Post ID: {{ post.id }}</h5>
    </div>
    <article id="post-content" class="w3-container">
      <form class="w3-container w3-padding" [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <p>
          <label for="title">Title: </label>
          <input type="text" class="w3-input" [formControl]="title">
        </p>
        <label for="editor">Content: </label>
        <div id="editor" class="w3-input">
          
          <quill-editor id="post-editor" [formControl]="content"></quill-editor>
        </div>
        <button type="submit">Save</button>
      </form>

    </article>
  </div>
</div>