<div id="quill-toolbar" class="w3-theme-l5">
    <div class="w3-hide-small">
        <select class="ql-font"></select>
        <select class="ql-size">
            <option value="small"></option>
            <option selected></option>
            <option value="large"></option>
            <option value="huge"></option>
        </select>
        <select class="ql-header">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="false" selected></option>
        </select>
    </div>
    <div class="w3-hide-medium w3-hide-small">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
        <button class="ql-clean"></button>
    </div>
    <div>
        <button class="ql-link"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
    </div>
    <div class="w3-hide-medium w3-hide-small">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
    </div>
    <div>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-list" value="ordered"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
    </div>
    <div>
        <button class="ql-align"></button>
        <button class="ql-align" value="center"></button>
        <button class="ql-align" value="right"></button>
        <button class="ql-align" value="justify"></button>
    </div>
    <div>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
    </div>
</div>
